{% extends "pageBase.html" %}

{% block question %}

<form action="{% url 'quizz:response' %}" method="post">
   {% csrf_token %}
   <div>La categorie de la question : {{displayQuestion.category}}</div>
   <div>La question : {{displayQuestion.question}}</div>
   <div>Le niveau de la question : {{displayQuestion.difficulty}}</div>

   {{choicesResponses}}
   {% for choiceResponse in choicesResponses %}
   <div>
      <label for={{choiceResponse}}>
         <input type="radio" class="proposition" name={{choiceResponse}} />{{choiceResponse}}
      </label>
   </div>
   {% endfor %}

   <input type="submit" value="valider">
</form>

{% endblock  %}