{% extends "pageBase.html" %}

{% block ChoicesOption %}
  <div class="grid grid-flow-row-dense grid-cols-3">
    <div class="col-span-3">
    <form action="{% url 'quizz:question' %}" method="post" class="text-center">
        {% csrf_token %}
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>Choisir un thème</option>
            </select>
            <div class="overSelect" class="m-auto"></div>
          </div>
          <div id="checkboxes">
            {% for keyOption ,valueOption in options.items %}
                <label for={{valueOption}}>
                    <input type="checkbox" id={{valueOption}} name={{valueOption}} class="text-left">{{keyOption}}</label>
            {% endfor %}
          </div>
        </div>
        <div>
          <label for="difficulty">Choisir le niveau de difficuté:</label>
          <select id="difficulty" name='difficulty'>
            <option value="">Choisir le niveau
            <option value="easy">facile</option>
            <option value="medium">moyen</option>
            <option value="hard">difficile</option>
          </select>
        </div>
        <div>
            <label for="limit">Nombre de question : <span id="nbQuestion"></span></label>
            <div>
                <input type="range" id="limit" name="limit" 
                    min="1" max="20" value="5" step="1">
                </div>
        </div>

       <input type="submit" value="valider" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
    </form>
    </div>
  </div>
{% endblock %}