.multiselect {
  width: 200px;
  margin: auto;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxesLevel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxesLevel {
  display: none;
  /*border: 1px #dadada solid;*/
}

#checkboxesLevel label {
  display: block;
}

#checkboxesThemes {
  display: none;
  /*border: 1px #dadada solid;*/
}

#checkboxesThemes label {
  display: block;
}

#checkboxesTheme label:hover {
  background-color: #1e90ff;
}